# I. Basic Data Structures
The basic data structures in Python include <b>tuple, list, string, dictionary</b>. The manipulation of these data structures is summarized in this section. The manipulation technics of the more complex data structure, <b>series, dataframe, and array</b> will be introduced in the subsequent sections!<br/><br/>
The data type of variables can be identified with <font color='red'><b>type</b></font> function, i.e. <font color='red'><b>type(variable)</b></font>. Take note that checking the data type of variables might be very helpful in debugging!

#### Question 1
Check the data types of the following two variables.<br/>'This is a string'<br/> (1, 2, 3)

In [1]:
type('This is a string')

str

In [2]:
type((1,2,3))

tuple

## List
1. Lists are a mutable data structure. It is similar to the vector in R.
2. Lists are declared by including the elements within <font color='red'><b>[ ]</b></font>.<br/>
3. Different types of data can be put in a list.<br/>
4. Element in a list can be accessed with index, i.e. <font color='red'><b>list[index]</b></font>. Index starts from 0.<br/>
5. New element can be added to list with the <b>append</b> function, i.e. <font color='red'><b>list.append(new_element)</b></font>.<br/>
6. Multiple lists can be concatenated with <b>"+"</b> or <b>"`*`"</b> operator, i.e. <font color='red'><b>list1 + list2, list `*` n</b></font>.<br/>
7. The list elements can be viewed by <font color='red'><b>print(list)</b></font>.<br/>
8. The number of elements in a list can be obtained by <font color='red'><b>len(list)</b></font> function.<br/>
9. Existence of element in a list can be checked with <b>in</b> operator, i.e. <font color='red'><b>element in list</b></font>.

#### Question 2 
Declare a list with the elements: <b>1, 'a', 2, 'b'</b>, add another element <b>3.3</b> to list, and print the all the elements in list <b>one by one</b>.

In [17]:
list1 = [1, 'a', 2, 'b']
list1.append(3.3)
print(list1[1])
print(list1[:5])
print(list1)
print(3.3 in list1)

a
[1, 'a', 2, 'b', 3.3]
[1, 'a', 2, 'b', 3.3]
True

In [21]:
i=0
while i != len(list1):
    print(list1[i])
    i +=1

1
a
2
b
3.3

#### Question 3
Concatenate two lists <b>[1, 2]</b> and <b>[3, 4]</b>, and check the existence of <b>5</b> in the concatenated list.

In [2]:
x = [1,2]+[3,4]
x

[1, 2, 3, 4]

In [3]:
5 in x

False

In [4]:
print(5 in x)

False

## String
String is considered as a special type of list with character elements. <b>All the list manipulation in the former section can be applied to strings. The following string slicing manipulations are also applicable to the normal lists.</b> Some string-specific technics include<br/>
1. Split a string with <b>split</b> function on specifc character into a list of substrings, i.e. <font color="red"><b>string.split("character")</b></font><br/>
2. Convert other data type to string by <font color="red"><b>str(variable)</b></font>.

#### Question 4
According to the following instructions, slice the given string with indexing operator, i.e. <font color="red"><b>string[starting index:stopping index]</b></font>.<br/>
(1) Slice the first two characters.<br/>
(2) Slice the last character.<br/>
(3) Slice from the beginning of the string and stopping before the 3rd element

In [9]:
x = 'This is a string'
x1 = x.split(" ")[:2]
x2 = x.split(" ")[-1]
x3 = x.split(" ")[0:3]

print(x1)
print(x2)
print(x3)

['This', 'is']
string
['This', 'is', 'a']

#### Question 5
Given a string <b>'Christopher Arthur Hansen Brooks'</b>. Add a number 2 to the string as a character. Split the resulting string into a list of substrings on the whitespace. Check the existence of <b>'thu'</b> in the 2nd substring element.

In [7]:
name = 'Christopher Arthur Hansen Brooks'

name2 = name + ' ' + str(2)
print(name2)
word = name2.split()
print(word)
print('thu' in word[1])

Christopher Arthur Hansen Brooks 2
['Christopher', 'Arthur', 'Hansen', 'Brooks', '2']
True

## Dictionary
1. Dictionaries associate keys with values. They are declared by including the pairs of key and value within { }, i.e. <font color="red"><b>dict = {key1: value1, key2: value2}</b></font>.<br/>
2. Dictionary value can be accessed with a key, i.e. <font color="red"><b>dict[key1]</b></font>.<br/>
3. Dictionary can be extended by providing additional pairs of key and value, i.e. <font color="red"><b>dict[key3] = value3</b></font>.</br>
4. Dictionary keys, values, key-value pairs can be accessed by <font color="red"><b>dict.keys(), dict.values(), dict.items()</b></font> respectively.

#### Question 6
Declare a dictionary for the follwowing names and emails:<br/><br/>
```'Christopher Brooks': 'brooksch@umich.edu', 
'Bill Gates': 'billg@microsoft.com'```<br/><br/>
Add another element to the dictionary: 'Wang Shenghao': 'wangshenghao1993@gmail.com'. Get Bill Gates' email address by his name!

In [36]:
info = {'Christopher Brooks': 'brooksch@umich.edu', 
'Bill Gates': 'billg@microsoft.com'}
info['Wang Shenghao']='wangshenghao1993@gmail.com'
info

{'Bill Gates': 'billg@microsoft.com',
 'Christopher Brooks': 'brooksch@umich.edu',
 'Wang Shenghao': 'wangshenghao1993@gmail.com'}

In [37]:
info['Bill Gates']

'billg@microsoft.com'

#### Question 7
Continue from Question 6. Iterate over all of the names as keys, print each email values.

In [43]:
for name in info.keys():
    print(info[name])

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

In [50]:
for email in info.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

In [53]:
for name, email in info.items():
    print(email)

brooksch@umich.edu
billg@microsoft.com
wangshenghao1993@gmail.com

# II. Reading and Writing Data Files

Data files with different formats can be imported and processed in Python. The common formats include .csv, .xls, .json, .txt. Pandas library is frequently used to load external data files. In addition, after the data is cleaned, it can also be exported in different formats for future use.

## Import csv file as dataframe
In Python, CSV data can be imported as dataframe or a list of dictionary objects. In the most common case, csv files are read as dataframes with the help of <b>pd.read_csv()</b> function, i.e. <font color="red"><b>df = pd.read_csv('data.csv', skiprows = row # or a list of row #)</b></font>. Note that the <b>read_csv()</b> function can carry multiple parameters besides the file name. <b>skiprows</b> parameter is very useful when some redundant data exists in the CSV file.<br/>
<font color="red"><b>If skiprows = n, 1 to n rows of data will be ignored when data is loaded.<br/>
If skiprows = [row #], the rows of data in the list will be ignored.</b></font>

#### Question 8
Read "world_bank.csv" as a dataframe and skip the first four rows. Display the first three rows to check if the data is loaded properly.

In [58]:
import pandas as pd
df = pd.read_csv("world_bank.csv",skiprows=4)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10

## Import xls file as dataframe
Similar to csv files, xls files can be imported with the <b>read_excel()</b> function from the Pandas library. <b>skiprows</b> and <b>skipfooter</b> parameters can be used to ignored the redundant rows of data. Note that it is the <b>no. of rows of data to be skipped at the bottom of the xls file</b> that needs to be assigned to the skipfooter parameter. Since a xls file may contain multiple spreadsheets, sheet name needs to be specified when there are multiple spreadsheets.<br/>
<font color="red"><b>df = pd.read_excel('data.xls', sheet_name = 'xxx', skiprows = n1, skipfooter = n2)</b></font>

#### Question 9
Load the "Energy" spreadsheet in "Energy Indicators.xls" as a dataframe. Skip the first 17 rows at the top and last 38 rows at the bottom of the xls file. Display the first few rows to check if the data is loaded properly.

In [61]:
df = pd.read_excel("Energy Indicators.xls",sheet_name="Energy",skiprows=17, skipfooter=38)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

#### Question 10
Load the only spreadsheet in "gdplev.xls" as a dataframe, and skip the first 5 rows and the 7th, 8th row. Hint: create a list called "skip" to save the no. of rows to be ignored.

In [70]:
skip = [i for i in range(0,5)]+[6,7]
skip

[0, 1, 2, 3, 4, 6, 7]

In [71]:
df = pd.read_excel("gdplev.xls",skiprows=skip)
df.head()

,Unnamed: 0,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,Unnamed: 3,Unnamed: 4,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1,Unnamed: 7
0,1929.0,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
1,1930.0,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
2,1931.0,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
3,1932.0,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
4,1933.0,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN

## Import json file
Json files can be loaded as dataframes or lists of objects and converted to other formats of data based on needs.<br/>
Import json as dataframe: <font color="red"><b>df = pd.read_json('data.json')</b></font><br/>
Import json as list of objects: <font color="red"><b>jsonlist = json.loads(open('data.json').read())</b></font><br/>

#### Question 11 
Read 'crop_top3.json' as a dataframe, and display the dataframe.

In [73]:
df = pd.read_json('crop_top3.json')
df.head()

,error,method,reqid,result,status
0,[],image/recognize,709980431671578624,"[{'objects': [{'box': [400, 371, 819, 875], 't...",OK
1,[],image/recognize,709980434926358528,"[{'objects': [{'box': [123, 83, 251, 225], 'ta...",OK
2,[],image/recognize,709980437405196288,"[{'objects': [{'box': [164, 54, 269, 179], 'ta...",OK

In [78]:
import json
lt = json.loads(open('crop_top3.json').read())
lt[0:2]

[{'error': [],
  'method': 'image/recognize',
  'reqid': '709980431671578624',
  'result': [{'objects': [{'box': [400, 371, 819, 875],
      'tags': [{'score': 0.9930158853530884, 'tag': 'top'}]},
     {'box': [306, 885, 880, 1499],
      'tags': [{'score': 0.7722217440605164, 'tag': 'bottom'}]}],
    'tag_group': 'product_detection'}],
  'status': 'OK'},
 {'error': [],
  'method': 'image/recognize',
  'reqid': '709980434926358528',
  'result': [{'objects': [{'box': [123, 83, 251, 225],
      'tags': [{'score': 0.9871655702590942, 'tag': 'top'}]},
     {'box': [116, 233, 270, 362],
      'tags': [{'score': 0.6762250065803528, 'tag': 'skirt'}]},
     {'box': [111, 108, 262, 326],
      'tags': [{'score': 0.23642201721668243, 'tag': 'other'}]}],
    'tag_group': 'product_detection'}],
  'status': 'OK'}]

## Write dataframe into csv file
Dataframes can be written into csv files with the <b>to_csv</b> function. Set <b>index</b> parameter to False to exclude the index column in the output csv file.<br/>
<font color="red"><b>df.to_csv('output.csv', index=False)</b></font>

#### Question 12
Export any of the resulting dataframe of from Question 8-11 into 'output.csv' without index.

In [79]:
df.to_csv('op.csv')
df.to_csv('op2.csv',index=False)